@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsla(173, 77%, 83%, 1);
  background-image: radial-gradient(circle at 5% 1%, hsla(250, 76%, 61%, 1) 7%, transparent 84%),
                    radial-gradient(circle at 7% 81%, hsla(184, 91%, 91%, 1) 16%, transparent 53%),
                    radial-gradient(circle at 11% 29%, hsla(213, 97%, 75%, 1) 8%, transparent 74%),
                    radial-gradient(circle at 39% 52%, hsla(149, 93%, 64%, 1) 6%, transparent 68%),
                    radial-gradient(circle at 98% 64%, hsla(118, 94%, 89%, 1) 2%, transparent 67.8942%);
  background-blend-mode: normal, normal, normal, normal, normal;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFF;
}

.container {
  max-width: 80em;
  min-width: 60em;
  margin: 0 auto;
  padding: 0 2em; 
}

nav {
  position: fixed;
  width: calc(100% - 300px); /* Ajusta la anchura basada en la barra de desplazamiento */
  top: 0;
  z-index: 3;
  left: 300px; /* Alinea el contenido nav correctamente */
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
  }

  li {
    padding: 1.5em;
    text-align: center;
    transition: all 0.2s;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: #DDD;
    }
  }
}

#icon {
  display: inline-block;
  padding-top: 0.7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-bg {
  background: #222;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  padding: 10em 0 8em;
  z-index: 2;
  height: 800px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Asegúrate de que el video no se salga del header */

  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
  }

  .container {
    display: flex; /* Para colocar los divs en la misma fila */
    justify-content: space-between; /* Para separar los divs a los lados izquierdo y derecho */
    width: 100%;
    padding: 0 2em;

    .left-content {
      flex: 1; /* Hace que el texto ocupe el espacio restante */

      h1 {
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 1em;
      }

      p {
        font-size: 1em;
        line-height: 1.5;
      }
    }

    .right-content {
      flex: 1; /* Hace que la imagen ocupe el espacio restante */
      display: flex;
      justify-content: flex-end; /* Alinea la imagen a la derecha */

      img {
        max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
        height: auto;
        border-radius: 8px; /* Opcional: redondea los bordes de la imagen */
      }
    }
  }
}


h2 {
  font-size: 2.5em;
  margin-bottom: 1.5em;
  color: #222;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  .card {
    font-family: 'Montserrat', sans-serif;
    background: rgba(192, 192, 192, 0.2);
    border-radius: 8px;
    padding: 2em;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }

    h3 {
      font-size: 1.8em;
      margin-bottom: 1em;
      color: #333;
    }

    p {
      font-size: 1.2em;
      line-height: 1.6;
      color: #555;
    }
  }
}

#about {
  padding: 5em 0;
  text-align: center;
}

#services {
  padding: 5em 0;
  text-align: center;

  #fondo {
    background: rgba(219, 229, 231, 0.4);
    margin: 20px;
    padding: 50px;
    border-radius: 1%;
    #abc{
      margin-top: 50px;
    }
  }
}

#clients {
  padding: 50px 0;
  background-color: #f7f7f7;
  text-align: center;

  h2 {
      font-size: 28px;
      margin-bottom: 40px;
  }

  .client-slider {
      position: relative;
      width: 100%;
      overflow: hidden;

      .slide-track {
          display: flex;
          width: calc(200%); /* El 200% asegura que tenemos espacio suficiente para las imágenes duplicadas */
          animation: scroll 20s linear infinite;

          .slide {
              min-width: 200px; /* Ancho de cada slide */
              margin: 0 20px;

              img {
                  width: 200px; /* Ancho de los logos */
                  height: 100px; /* Altura de los logos */
                  object-fit: contain;
                  transition: transform 0.3s;

                  &:hover {
                      transform: scale(1.1);
                  }
              }
          }
      }
  }
}

.footer-contact ul li img, .footer-social ul li img {
  width: 20px; /* Ajusta el tamaño del icono */
  height: auto;
  margin-right: 10px; /* Espacio entre el icono y el texto */
  vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Ajusta este valor para el tamaño total del carrusel */
}

#footer {
  background-color: #4a4a4a; /* Color de fondo */
  color: #f2f2f2; /* Color del texto */
  padding: 40px 0;
  font-family: Arial, sans-serif;
  h2{
    color: #f2f2f2;
  }
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .footer-content {
      display: flex;
      justify-content: space-between;
      gap: 40px; /* Aumenta la separación entre las secciones */
      flex-wrap: wrap;
      padding: 0 20px; /* Añade padding lateral */

      .footer-brand, .footer-contact, .footer-social {
        flex: 1 1 300px; /* Asigna un tamaño mínimo para cada columna */
        margin-bottom: 20px;

        h2, h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p, ul {
          font-size: 14px;
          line-height: 1.6;
        }
      }

      .footer-brand {
        max-width: 300px; /* Limita el ancho máximo de esta sección */
      }

      .footer-contact, .footer-social {
        max-width: 300px; /* Limita el ancho máximo de estas secciones */
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-size: 14px;
    color: #ccc;
  }
}
